/*
 Theme Name:   Oneguy
 Theme URI:    https://wordpress.org/themes/oneguy/
 Description:  Child theme of Minimalio with custom fonts, tagline display, header extra text, content width control, and typography enhancements.
 Author:       Sriram Govindan
 Author URI:   https://oneguy.net
 Template:     minimalio
 Version:      1.0.0
 License:      GNU General Public License v2 or later
 License URI:  http://www.gnu.org/licenses/gpl-2.0.html
 Text Domain:  oneguy
*/

/* ==========================================================================
   Vertical Header - Extra Text
   ========================================================================== */

@media (min-width: 768px) {
  .vertical .header .header__extra-text {
    overflow-wrap: break-word;
    word-wrap: break-word;
  }
}
